---
name: "A case study of Restorative Nostalgia: WORLD OF WARCRAFT CLASSIC"
filename: "wowclassic"
imgname: "wowclassic.jpeg"
type: ["Academic Paper"]
platform: []
description: "An academic paper about World of Warcraft classic through the lenses of Restorative Nostalgia."
layout: post
---
<div style="display: flex; flex-direction: row; gap:4em; justify-content: center; align-items: flex-end;">

    <div style="display: flex; flex-direction:column; gap:2px">
        <div style="font-family: Montserrat, sans-serif; color:white;">
            Type
        </div>
        <p class="paragraph" style="width:fit-content; margin: 0px;">     
            {% for t in page.type %}
            {{ t }}{% if forloop.index != page.type.size %}, </nobr> {% endif %}
            {% endfor %}
        </p>
    </div>

    <a class="button" href="assets\docs\wowclassic\abstract.pdf">
        Download Abstract
    </a>

    <a class="button" href="assets\docs\wowclassic\paper.pdf">
        Download Paper
    </a>


</div>


<h2>Introduction</h2>
<div class="paragraph">

    Restorative nostalgia is a practice where people or groups of people will recreate and preserve media that are subject to nostalgia in 
    order to keep them available.
</br></br>
    This practice wants to keep the media in its purest form, by disregarding, ignoring, or cleaning out the “impurities” that settle with time.
</br></br>
    World of Warcraft is a Massively Multiplayer Online (MMO) game created in 2004 and quickly became the most popular one in the market. 
</br></br>
    World of Warcraft Classic was created in 2019 with one specific goal in mind: give the players the beloved experience of the first version of the game, 
    World of Warcraft Vanilla. 
</br></br>
    Indeed, as early as the release of the first expansion, groups of people have been craving a return to the Vanilla experience. 
    Throughout the years, the desire grew, as well as the attempts to reproduce it, by, for example, creating private (illegal) servers that give 
    access to an unofficial version of Vanilla. Despite the unauthorized nature of these servers, Blizzard has most definitely been inspired by these 
    initiatives for creating Classic.
</br></br>
    Blizzard has expressed their wish in remaking the game as closely as it was before in 2004 in order to reproduce the experience many people on the 
    internet have tried to reproduce and/or relive. This is an initiative that falls under restorative nostalgia.
</br></br>
    Despite the few changes Blizzard made to Classic, most of the game falls under a “no changes” philosophy expressed by the community. 
    This creates a blind spot where the experience, being an overwhelmingly important part of a game, isn't fully restored. 
</br></br>
    These changes in the experience are also mostly due to the ever-changing community, context and environment around the game. 
    We will analyze this context in order to have a clearer big picture.
</br></br>
    The goal of this thesis is to understand the differences in experience between Classic and Vanilla, while understanding the challenges of 
    restorative nostalgia when it comes to MMOs.
</div>


<h2>Methodology</h2>
<div class="paragraph">
    
    In order to find solutions, we must first gather all the information regarding actual changes to the game and whether they have participated 
    in this sentiment of distance from the original experience or not. Then, we will gather data from a survey target to Classic players who have 
    previously played Vanilla. This will give us an idea of the differences in experience between Classic and Vanilla. This survey will also 
    ask the players' opinion about the changes Blizzard added to classic, and also about the things that weren't changed by Blizzard.
</br></br>
    With all of the results, we will finally be able to understand those differences in experiences when restoring an old MMO, and the community's 
    role in these changes.
</div>
<h2>Acknowledgements</h2>

<div class="paragraph">
    A big thank you to David Panzoli who pushed this project for a result within academic standards. 
    Thank you madseasonshow for inspiring this subject. Also thank you to Mustadio, and the r/wow and r/wowclassic subreddits for filling the gaps in 
    my knowledge about the game.
</div>


    